{% extends 'base.html' %}
{% block content %}
<h1>Квіз: {{quiz.name}}</h1>
<p>{{ question.question }}</p>
<p>{{score}}</p>
<form method="post">
    {% csrf_token %}
    {% if question.type == "open" %}
        <input type="text" name="answer" required>
        <button type="submit">Відправити</button>
    {% elif question.type == "test" %}
        <button type="submit" name="answer" value="{{ question.answer1 }}">{{ question.answer1 }}</button>
        <button type="submit" name="answer" value="{{ question.answer2 }}">{{ question.answer2 }}</button>
        <button type="submit" name="answer" value="{{ question.answer3 }}">{{ question.answer3 }}</button>
        <button type="submit" name="answer" value="{{ question.answer4 }}">{{ question.answer4 }}</button>
    {% endif %}
</form>
{% endblock %}