{% extends 'base.html' %}
{% block content %}
{% if not request.user.profile.banned %}
{% for profile in profiles %}
<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#{{profile.pk}}" aria-expanded="false" aria-controls="{{profile.pk}}">
        {{ profile.user.username }}
      </button>
    </h2>
    <div id="{{profile.pk}}" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>Роль: {{profile.role.name}}</strong><br>
        <strong>Опис: {{profile.description}}</strong><br>
      </div>
    </div>
  </div>
</div>{% endfor %}
{% endif %}
{% endblock %}