{% extends 'base.html' %}
{% block content %}
<form method="post" class="quiz-form">
    {% csrf_token %}
    {{ form.as_p }}
    <div class="btn-form">
        <button type="submit" class="btn btn-secondary">
            {% if request.path == '/quiz_create/' %}
                Створити квіз
            {% elif request.path|slice:":11" == '/quiz_edit/' %}
                Змінити квіз
            {% elif request.path == '/question_create/' %}
                Створити питання
            {% elif request.path|slice:":15" == '/question_edit/' %}
                Змінити питання
            {% endif %}
        </button>
    </div>
</form>
{% endblock %}
